// Primary 

$color-primary-dark-blue: #121a24;
$color-primary-blue: #4F6E90;
$color-primary-green: #3eaa62;
$color-primary-orange: #e3aa00;
$color-primary-purple: #a3406a;
$color-primary-grey: #6f7281;

// Secondary

$color-secondary-dark-blue: #121a24;
$color-secondary-blue: #51a2cb;
$color-secondary-green: #71b765;
$color-secondary-orange: #e0b800;
$color-secondary-purple: #d04382;
$color-secondary-grey: #a5a9b8;

// General

$color-white: #fff;
$color-black: #353535;
$color-red: #ea0600;
$color-grey: #777;
$color-grey-light: #eee;

$color-grey-faded-light: #e0e0e0;
$color-grey-faded-dark: rgba(0,0,0,0.26);
$color-purple-light: rgb(204, 154, 175);